<header>
  <nav>
    <div class="nav-logo-container">
      <img src="assets/spoonify_logo.png" alt="spoonify_logo" />
      <h3>SPOONIFY</h3>
    </div>
    <ul class="nav-links-container">
      <li>
        <a id="discover-link" class="nav-link" href="/">Discover</a>
      </li>
      <li>
        <a id="community-link" class="nav-link" href="/community">Community</a>
      </li>
      <li><a id="profile-link" class="nav-link" href="/profile">Profile</a></li>
    </ul>
    <div class="nav-button-container"></div>
  </nav>
</header>
