<header>
  <nav>
    <div class="nav-logo-container">
      <img src="/static/assets/spoonify_logo.png" alt="spoonify_logo" />
      <h3>Spoonify</h3>
    </div>
    <ul class="nav-links-container">
      <li>
        <a id="explore-link" class="nav-link" href="/">Explore</a>
      </li>
      <li>
        <a id="community-link" class="nav-link" href="/community">Community</a>
      </li>
      <li><a id="profile-link" class="nav-link" href="/profile">Profile</a></li>
    </ul>
    <div class="nav-button-container">
      <button>Login</button>
    </div>
  </nav>
</header>
