<header>
  <nav>
    <div class="nav-logo-container">
      <h1>Spoonify</h1>
    </div>
    <ul class="nav-links-container">
      <li><a href="/">Discover</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
</header>
