/*.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  max-width: 100%;
}*/

/*.hero-container iframe {
  height: 20rem;
  width: 40rem;
  border-radius: 20px;
  margin: 0px 10px;
}*/

/*.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  width: 40%;
}*/

/*.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
}*/
/*.hero-container {
  position: relative;
  text-align: center;
  color: white;
}*/

/* HERO SECTION */

.hero-container {
  height: 600px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 80px;
  left: 100px;
  color: white;
  max-width: 40%;
  height: 600px;
  /*background-color: brown;*/
}

.hero-text-container h1 {
  font-family: "Playfair Display", serif;
  text-shadow: 0px 3px 10px #000000;
}

.hero-text-container h4 {
  color: white;
  font-weight: 300;
  text-shadow: 0px 3px 10px #000000;
}

.hero-background-container video {
  object-fit: cover;
  z-index: -100;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
}

.search-bar input {
  width: 60%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: transparent;
  padding: 15px;
  border-radius: 20px;
  margin-right: 10px;
}

.search-bar input:hover {
  box-shadow: 0px 3px 10px #272932;
  transition-duration: 0.5s;
}

.search-bar button {
  width: 15%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: transparent;
  border-radius: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #272932;
  color: white;
  border: transparent;
  transition-duration: 0.5s;
}

.hero-video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  position: absolute;
  top: 80px;
  right: 100px;
  /*background-color: rgba(202, 78, 78, 0.5);*/
  height: 600px;
  width: 30%;
}

.hero-video-container iframe {
  width: 90%;
  height: 45%;
  border-radius: 20px;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #bbbbbb88;
  height: 150px;
  width: 350px;
  border-radius: 20px;
}

.recipe-container:hover {
  box-shadow: 0px 3px 10px #272932;
  transition-duration: 0.5s;
}

.recipe-container img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.recipe-container h5 {
  margin: 10px;
}

/* MEAL PLAN SECTION */

.meal-plan-container {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
}

.meal-plan-header {
  display: flex;
  flex-direction: row;
}

.meal-plan-header #selectdiet {
  margin-left: 20px;
  background-color: #fcb97d;
  border-color: #fcb97d;
  border-radius: 20px;
  width: 200px;
  padding: 0px 15px;
}

.meal-plan-header #selectdiet:hover {
  box-shadow: 0px 3px 10px #272932;
  transition-duration: 0.5s;
  cursor: pointer;
}

.meal-plan-content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}

.meal-plan-meals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.meal-plan-meals img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.meal-container {
  width: 30%;
}

.meal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #bbbbbb5c;
}

.meal-card:hover {
  box-shadow: 0px 3px 10px #272932;
  transition-duration: 0.5s;
  cursor: pointer;
}

.meal-card h5 {
  margin: 10px;
  text-align: center;
}

.meal-plan-nutrition {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.meal-plan-nutrition table {
  margin-top: 10px;
}

td {
  padding: 4%;
  border-bottom: 1px solid #bbbbbb;
  vertical-align: middle;
}

.vertical-separator {
  border-left: 3px solid #bbbbbb;
  margin: 0 3%;
}

/* RECIPE LIST SECTION */

.recipe-list-container {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
}

.recipe-list-header h3 {
  margin: 20px 0px;
}

.recipe-list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-list-content img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #bbbbbb5c;
  border-radius: 20px;
  margin-bottom: 20px;
}

.recipe-card:hover {
  box-shadow: 0px 3px 10px #272932;
  transition-duration: 0.5s;
  cursor: pointer;
}

.recipe-card h5 {
  margin: 10px;
  text-align: center;
}

.view-more {
  display: flex;
  justify-content: center;
}

.view-more button {
  display: none;
  width: 120px;
  height: 40px;
  background-color: #272932;
  color: white;
  border: #272932;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.view-more button:hover {
  background-color: #bbbbbb;
  color: black;
  border: transparent;
  transition-duration: 0.5s;
}

/* SEARCH RESULT SECTION */

.search-result {
  display: none;
  margin-top: 20px;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
}

.search-result-header {
  display: flex;
  flex-direction: row;
}

.search-result-header h3 {
  margin-left: 10px;
  margin-bottom: 20px;
}

.search-result-header button {
  width: 80px;
  height: 40px;
  background-color: #272932;
  color: white;
  border: #272932;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.search-result-header button:hover {
  background-color: #bbbbbb;
  color: black;
  border: transparent;
  transition-duration: 0.5s;
}

.search-result-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-result-content img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
