<link rel="stylesheet" href="/static/css/community.css" />

<h3>Coming Soon!</h3>
<h3>This page is under construction</h3>

<lottie-player
  src="https://assets8.lottiefiles.com/packages/lf20_z2m65ck9.json"
  background="transparent"
  speed="1"
  style="width: 480px; height: 480px"
  loop
  autoplay
></lottie-player>

<script src="/static/js/community.js" defer></script>
