<link rel="stylesheet" href="/static/css/community.css" />

<h1>COMMUNITY</h1>
<video src="/assets/hero_background_video.mp4" muted loop autoplay></video>

<script src="/static/js/community.js" defer></script>
