<link rel="stylesheet" href="/static/css/discover.css" />

<section>
  <div class="hero-container">
    <iframe class="hero-video" allowfullscreen></iframe>
  </div>
</section>
<h1>DISCOVER</h1>

<script>
  const api_key = "<%= api_key %>";
</script>
<script src="/static/js/discover.js" defer></script>
