<link rel="stylesheet" href="/static/css/profile.css" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<section class="personal-info">
  <div class="personal-info-container">
    <img src="/static/assets/profile_pic.JPG" alt="profile_pic" />
    <h3>Pat K.</h3>
    <p>sample@gmail.com</p>
  </div>
</section>

<section class="profile-content">
  <div class="summary-container">
    <h3>Summary</h3>
    <div class="summary-content-container">
      <div id="cal-intake">
        <h4>Calories Intake</h4>
        <div id="calorieschart"></div>
      </div>
      <div id="nutrition-intake">
        <h4>Nutrition Intake</h4>
        <div id="nutritionchart"></div>
      </div>
    </div>
  </div>
  <div class="diary-container">
    <h3>Food Diary</h3>
    <div class="food-diary-container">
      <div class="food-diary">
        <table>
          <tr>
            <td>Cereal</td>
            <td>230 kcal</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td>Chicken fried rice</td>
            <td>540 kcal</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>Grilled salmon</td>
            <td>420 kcal</td>
            <td>Dinner</td>
          </tr>
        </table>
      </div>
      <div class="add-dairy">
        <form id="add-diary-form" method="POST" action="/dairy">
          <input type="text" placeholder="Food name" />
          <input type="date" />
          <select>
            <option value="" disabled selected>Meal</option>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
          <input type="number" placeholder="Calories" />
          <button>Add</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/static/js/profile.js" defer></script>
