<link rel="stylesheet" href="/static/css/profile.css" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<section class="personal-info">
  <div class="personal-info-container">
    <img src="/static/assets/profile_pic.JPG" alt="profile_pic" />
    <h3>Pat K.</h3>
    <p>sample@gmail.com</p>
    <div class="health-statistics">
      <div class="health-statistic-card">
        <h5>Height</h5>
        <p>170 cm</p>
      </div>
      <div class="health-statistic-card">
        <h5>Weight</h5>
        <p>68 kg</p>
      </div>
      <div class="health-statistic-card">
        <h5>BMI</h5>
        <p>22.5</p>
      </div>
      <div class="health-statistic-card">
        <h5>Gender</h5>
        <p>M</p>
      </div>
    </div>
  </div>
</section>

<section class="profile-content">
  <!-- statistic section -->
  <div class="summary-container">
    <h3>Statistics</h3>
    <div class="summary-content-container">
      <div id="cal-intake">
        <h4>Calories Intake</h4>
        <div id="calorieschart"></div>
      </div>
      <div id="nutrition-intake">
        <h4>Nutrition Intake</h4>
        <div id="nutritionchart"></div>
      </div>
    </div>
  </div>

  <!-- food diary section -->
  <div class="diary-container">
    <h3>Diary</h3>
    <div class="food-water-container">
      <div class="food-diary">
        <div class="diary-header">
          <h4>Food</h4>
          <button class="add-button">
            <i class="fa fa-plus" style="font-size: 15px"></i>
          </button>
        </div>
        <table>
          <tr>
            <td>Cereal</td>
            <td>230 kcal</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td>Chicken fried rice</td>
            <td>540 kcal</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>Grilled salmon</td>
            <td>420 kcal</td>
            <td>Dinner</td>
          </tr>
        </table>
      </div>
      <div class="water-diary">
        <div class="diary-header">
          <h4>Water</h4>
          <button class="add-button">
            <i class="fa fa-plus" style="font-size: 15px"></i>
          </button>
        </div>
        <div class="diary-content">
          <div id="waterchart"></div>
          <div class="diary-content-right">
            <div class="content-wrapper">
              <h5>Consumed</h5>
              <p>1.8 L</p>
            </div>
            <span class="horizontal-separator"></span>
            <div class="content-wrapper">
              <h5>Goal</h5>
              <p>2.5 L</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="add-diary">
        <form id="add-diary-form" method="POST" action="/dairy">
          <input type="text" placeholder="Food name" />
          <input type="date" />
          <select>
            <option value="" disabled selected>Meal</option>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
          <input type="number" placeholder="Calories" />
          <button>Add</button>
        </form>
      </div>-->
    </div>
  </div>

  <!-- water intake section -->
  <div class="water-intake">
    <h3>Saved Recipes</h3>
  </div>
</section>

<script src="/static/js/profile.js" defer></script>
