<link rel="stylesheet" href="/static/css/recipe.css" />

<h1>RECIPES PAGE</h1>

<section>
  <script>
    const api_key = "<%= api_key %>";
    const recipe_id = "<%= recipe_id %>";
  </script>
  <script src="/static/js/recipe.js" defer></script>
</section>
